# Development artifacts
ID
TAGS
GPATH
GRTAGS
GTAGS
.*cache
.*gdbinit
.gdb_history
.vscode
*~
#*
.#*
*.diff
*.patch
*.orig
*.rej

# Configure artifacts
Makefile
autom4te.cache/
config.cache
config.h
config.log
config.status
/mk/Posix.mk
.dirstamp
gnulib

# Build artifacts
.deps/
gmk-default.h
loadavg
make
*.i
*.o
*.a
*.exe
*.dll.a
*.obj
*.lib
*.pdb
*.sbr

# Windows build artifacts
WinDebug/
WinRel/
GccDebug/
GccRel/

# Test artifacts
makeerror-*
test-suite.log

# Distribution artifacts
.dep_segment
.check-git-HEAD
build.cfg
mkconfig.h
make-[0-9]*/
make-[0-9]*.tar.*
checkcfg.*.log

# added by dharmatech:

# Plan 9 port backup files
*.before-*

/tests/config-flags.pm

# Plan 9 local test outputs
/logs/
/build-plan9-*/
/smoke.mk
/lib/alloca.h
/lib/alloca.h_
/lib/fnmatch.h
/lib/fnmatch.h_
/lib/glob.h
/lib/glob.h_
/po/Makefile.in
/po/POTFILES
/src/stamp-h1
